.pg-records-table table, .pg-records-table th, .pg-records-table td{
    border: 1px solid black;
}
.pg-records-table th{
    text-align: center;
}

.del-btn{
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
}
.pg-records-table table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: left;
}


